.about__wrapper {
   display: flex;
   align-items: center;
   gap: 120px;

   @include media-mini-laptop {
      flex-direction: column-reverse;
      padding-top: 80px;
      gap: 80px;
      margin-bottom: 100px;
   }

   @include media-big-mobile {
      padding: 42px 24px 0 24px;
      gap: 42px;
      text-align: justify;
   }
}

.about__image {
   margin: 80px 0 100px 175px;

   @include media-mini-laptop {
      margin: 0;
   }

   @include media-big-mobile {
      max-width: 260px;
   }
}

.about__content {
   max-width: 430px;
   padding-bottom: 22px;

   @include media-mini-laptop {
      display: flex;
      flex-direction: column;
      padding-bottom: 0;
   }
}

.about__title {
   max-width: 370px;

   @include media-big-mobile {
      align-self: center;
      font-size: 2.5rem;
      text-align: center;
      max-width: 250px;
    }
}

.about__text {
   margin: 25px 0;
   color: $color-dark-xl;
   max-width: 430px;

   @include font(1.5rem, 160%);
   &:last-child {
      margin: 0;
   }
}

