.burger-btn {
   cursor: pointer;
   position: relative;
   display: none;
   width: 30px;
   height: 22px;
   border-top: 2px solid $color-primary;
   border-bottom: 2px solid $color-primary;
   transition: transform .3s ease-in;

   @media (max-width: 767px) {
      display: block;
   }
}

.burger-btn::after {
   content: '';
   position: absolute;
   top: 8px;
   width: 30px;
   height: 2px;
   background-color: $color-primary;
}

.burger-btn_dark {
   border-top: 2px solid #000;
   border-bottom: 2px solid #000;
}

.burger-btn_dark::after {
   background-color: #000;
}

.burger-btn_rotaded {
   transform: rotate(90deg);
   transition: transform .3s ease-in;
}

// .burger-btn_dark.burger-btn_rotaded {
//    border-top: 2px solid $color-primary-light;
//    border-bottom: 2px solid $color-primary-light;
// }

// .header__mobile-menu.open + .burger-btn_dark::after {
//    background-color: $color-primary-light;
// }