.not-only {
  background: url('../assets/img/noise_transparent@2x.png'),
  radial-gradient(237.5% 111.8% at 0% 0%, rgb(91, 72, 58) 0%, rgb(38, 36, 37) 100%) center repeat;
  padding-top: 180px;
}

.not-only__wrapper {
  display: flex;
  justify-content: space-between;
  align-items: center;
  // @include media-mobile {
  //    display:block;
  // }
}

.not-only__content {
  padding-bottom: 75px;
}

.not-only__text {
  max-width: 460px;
  color: $color-dark-s;
  @include font(1.5rem, 160%);
  margin: 42px 0;
}

.not-only__content a {
  color: $color-dark-3xl;
}
