.our-friends {
  background-color: $color-light-l;
}

.our-friends__wrapper {
 @extend %flex-column;
  align-items: center;
  gap: 60px;

  padding: 80px 0 100px 0;
}

.our-friends__title {
  text-align: center;
}

.our-friends__button a {
  color: $color-dark-3xl;
}
