.our-friens__slider {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 100%;

  @media (max-width: 1160px) {
    justify-content: space-between;
  }

  @include media-big-mobile {
    flex-wrap: wrap;
    justify-content: center;
    gap: 20px;
  }
}

.slider__container {
  display: flex;
  justify-content: space-between;
  width: 990px;
}

.slider__inner {
  display: flex;
  justify-content: space-between;
  width: 100%;
  @media (max-width: 1160px) {
    // width: 580px;
    justify-content: space-around;
  }
}

.slider__card {
  @extend %flex-column;
  gap: 30px;
  align-items: center;

  background-color: $color-light-s;
  padding-bottom: 30px;
  border-radius: 9px;

  &:last-child {
    @media (max-width: 1160px) {
      display: none;
    }
  }

  &:nth-child(2) {
    @include media-tablet {
      display: none;
    }
  }
}

.slider__card:hover {
  box-shadow: 0 2px 25px 10px rgba(37, 39, 39, 0.03);
  @extend %transition;
}

.slider__card:hover .learn-more {
  background: $color-primary-light;
  border: 2px solid $color-primary-light;
}

.slider__btn {
  cursor: pointer;
  display: flex;
  height: 52px;
  width: 52px;
  border: solid 2px $color-primary;
  border-radius: 50%;
  align-items: center;
  justify-content: center;
  @extend %transition;
  flex-shrink: 0;

  &:hover {
    background-color: $color-primary;
  }

  @include media-big-mobile {
    order: 2;
  }
}

.prev-btn {
  @include media-big-mobile {
    margin-right: 30px;
  }
}

.next-btn {
  @include media-big-mobile {
    margin-left: 30px;
  }
}