* {
  box-sizing: border-box;
}
li {
  list-style: none;
}

a, a:link, a:visited, a:hover  {
  text-decoration: none;
}

html {
  font-size: 10px;
}

body {
  font-size: 1.5rem;
  font-family: 'Arial', Verdana, sans-serif;
}

h1 {
  color: $color-primary;
  @extend %font-add;
  @include font(3.2rem, 110%);
  text-decoration: none;
  cursor: pointer;
  letter-spacing: 0.06em;

  margin: 0 0 10px 0;
}


.logo__description {
  cursor: pointer;
  color: $color-light-xl;
  @include font(1.3rem, 15px);
  letter-spacing: 0.1em;
}

h2 {
  color: $color-light-xl;
  @extend %font-add;
  @include font(4.4rem, 130%);
}

h3 {
  color: $color-dark-l;
  font-family: 'Georgia', Times, serif;
  letter-spacing: 0.06em;

  @include font(3.5rem, 130%);

  margin: 0;
}

h4 {
  margin: 0;
  color: $color-dark-l;
  font-family: 'Georgia', Times, serif;

  @include font(2.0rem, 2.3rem);
}