.button {
  font-family: 'Georgia', Times, serif;
  padding: 15px 45px;
  font-style: normal;
  font-weight: 400;
  font-size: 1.7rem;
  line-height: 130%;
  letter-spacing: 0.06em;
  border-radius: 100px;
  cursor: pointer;
  @extend %transition;

  &_bordered {
    background: $color-light-s;
    border: 2px solid $color-primary;
    padding: 13px 44px;
    &:hover {
      background: $color-primary-light;
      border: 2px solid $color-primary-light;
      }
  }

  &_colored {
    border: 0;
    background-color: $color-primary;
    &:hover {
      background-color: $color-primary-light;
    }
  }
}