.header {
  position: absolute;
  width: 100%;
  left: 0;
  top: 0;
}

.header__wrapper {
  display: flex;
  justify-content: space-between;
  margin-top: 30px;
  align-items: center;

  @include media-big-mobile {
    padding: 0 20px;
  }
}

.navigation {
  display: flex;
  gap: 35px;
  line-height: 160%;

  @include media-middle {
    gap: 18px;
    font-size: 13px;
  }

  @include media-big-mobile {
    display: none;
  }
}

.navigation__item {
  display: flex;
}

.navigation__link {
  color: $color-dark-s;
  @extend %transition;

  &:hover {
    color: $color-light-s;
  }
}

.navigation__link_active {
  color: $color-light-s;
  cursor: default;
  border-bottom: 3px solid $color-primary;
}


