$color-primary: #F1CDB3;                     //primary
$color-light-l: #F6F6F6;       //backgroun 
$color-light-xl: #FFFFFF;    //heading-light
$color-dark-l: #545454;      //heading-dark
$color-dark-s: #CDCDCD;      //text-light
$color-dark-xl: #4C4C4C;    //text-dark:
$color-dark-3xl: #292929;        //button
$color-light-s: #FAFAFA;     //nav-light
$color-primary-light: #FDDCC4;      //primary-light

$mini-content-width: 990px;
$middle-width: 740px;
$mobile-big-width: 685px;
$mobile-small-width: 320px;
