@mixin font ($size, $height, $weigth: 400, $style: normal) {
   font-size: $size;
   line-height: $height;
   font-weight: $weigth;
   font-style: $style;
}

@mixin media-mini-laptop {
   @media (max-width: $mini-content-width) { @content;  }
}

@mixin media-middle {
   @media (max-width: $middle-width) { @content; }
}

@mixin media-big-mobile {
   @media (max-width: $mobile-big-width) { @content; }
}

@mixin media-mobilesmall {
   @media (max-width: $mobile-small-width) { @content; }
}