* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

a {
  text-decoration: none;
  color: inherit;
}

html {
  font-size: 10px;
}

body {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  min-height: 100%;
  font-family: "Montserrat", sans-serif;
  height: 100vh;
}


.wrapper {
  max-width: 1280px;
  margin: 0 auto;
  padding: 0 15px;
}

header {
  position: fixed;
  top: 0;
  padding-top: 2rem;
  padding-bottom: 1.5rem;
  width: 100%;
  background-color: #e5f3f39f;
}

.header__wrapper {
  display: flex;
  justify-content: space-between;
}

.logo {
  display: flex;
  align-items: center;
  gap: 13px;
}

h1 {
  font-size: 2.8rem;
  font-weight: 600;
  letter-spacing: 0.1rem;
}

.main-wrapper {
  margin-top: 8rem;
}

form {
  position: relative;
  width: 280px;
}

.input-search {
  width: 100%;
  height: 3.5rem;
  padding-left: 3.7rem;
  padding-right: 1rem;
  border-radius: 2rem;
  background: #ffffff;
  color: #525353;
  font-size: 1.5rem;
  font-weight: 500;
  border: 2px solid #525353;
}

.input-search::-webkit-search-cancel-button {
  appearance: none;
  background-image: url('img/cancel.svg');
  width: 20px;
  height: 20px;
  background-size: contain;
}

.search-icon {
  position: absolute;
  top: 5px;
  left: 10px;
  cursor: pointer;
  border: none;
  background-image: url('img/search.svg');
  background-color: transparent;
  background-size: contain;
  width: 2.5rem;
  height: 2.5rem;
}

.search-icon span{
  font-size: 2.2rem;
}

.gallery-container {
  width: 100%;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 30px;
  margin-top: 2rem;
}

.image-container {
  cursor: pointer;
  width: 360px;
  height: 214px;
  background-color: aquamarine;
}

footer {
  width: 100%;
}

.footer-wrapper {
  display: flex;
  justify-content: space-between;
  align-items: center;
  max-width: 1280px;
  height: 45px;
  padding: 0 20px 15px 20px;
  margin: 0 auto;
}

.left-block {
  display: flex;
  gap: 20px;
  font-size: 1.8rem;
  font-weight: 600;
  padding-top: 10px;
}

.rs-logo {
  padding-bottom: 5px;
}

.rs-logo img {
  width: 40px;
  height: 40px;
}