/*! normalize-scss | MIT/GPLv2 License | bit.ly/normalize-scss */
/* Document
   ========================================================================== */
/**
 * 1. Correct the line height in all browsers.
 * 2. Prevent adjustments of font size after orientation changes in iOS.
 */
html {
  line-height: 1.15; /* 1 */
  -webkit-text-size-adjust: 100%; /* 2 */
}

/* Sections
   ========================================================================== */
/**
 * Remove the margin in all browsers.
 */
body {
  margin: 0;
}

/**
 * Render the `main` element consistently in IE.
 */
main {
  display: block;
}

/**
 * Correct the font size and margin on `h1` elements within `section` and
 * `article` contexts in Chrome, Firefox, and Safari.
 */
h1 {
  font-size: 2em;
  margin: 0.67em 0;
}

/* Grouping content
   ========================================================================== */
/**
 * 1. Add the correct box sizing in Firefox.
 * 2. Show the overflow in Edge and IE.
 */
hr {
  box-sizing: content-box; /* 1 */
  height: 0; /* 1 */
  overflow: visible; /* 2 */
}

/**
 * Add the correct display in IE.
 */
main {
  display: block;
}

/**
 * 1. Correct the inheritance and scaling of font size in all browsers.
 * 2. Correct the odd `em` font sizing in all browsers.
 */
pre {
  font-family: monospace, monospace; /* 1 */
  font-size: 1em; /* 2 */
}

/* Links
   ========================================================================== */
/**
 * Remove the gray background on active links in IE 10.
 */
a {
  background-color: transparent;
}

/* Text-level semantics
   ========================================================================== */
/**
 * 1. Remove the bottom border in Chrome 57-
 * 2. Add the correct text decoration in Chrome, Edge, IE, Opera, and Safari.
 */
abbr[title] {
  border-bottom: none; /* 1 */
  text-decoration: underline; /* 2 */
  -webkit-text-decoration: underline dotted;
          text-decoration: underline dotted; /* 2 */
}

/**
 * Add the correct font weight in Chrome, Edge, and Safari.
 */
b,
strong {
  font-weight: bolder;
}

/**
 * 1. Correct the inheritance and scaling of font size in all browsers.
 * 2. Correct the odd `em` font sizing in all browsers.
 */
code,
kbd,
samp {
  font-family: monospace, monospace; /* 1 */
  font-size: 1em; /* 2 */
}

/**
 * Add the correct font size in all browsers.
 */
small {
  font-size: 80%;
}

/**
 * Prevent `sub` and `sup` elements from affecting the line height in
 * all browsers.
 */
sub,
sup {
  font-size: 75%;
  line-height: 0;
  position: relative;
  vertical-align: baseline;
}

sub {
  bottom: -0.25em;
}

sup {
  top: -0.5em;
}

/* Embedded content
   ========================================================================== */
/**
 * Remove the border on images inside links in IE 10.
 */
img {
  border-style: none;
}

/* Forms
   ========================================================================== */
/**
 * 1. Change the font styles in all browsers.
 * 2. Remove the margin in Firefox and Safari.
 */
button,
input,
optgroup,
select,
textarea {
  font-family: inherit; /* 1 */
  font-size: 100%; /* 1 */
  line-height: 1.15; /* 1 */
  margin: 0; /* 2 */
}

/**
 * Show the overflow in IE.
 */
button {
  overflow: visible;
}

/**
 * Remove the inheritance of text transform in Edge, Firefox, and IE.
 * 1. Remove the inheritance of text transform in Firefox.
 */
button,
select { /* 1 */
  text-transform: none;
}

/**
 * Correct the inability to style clickable types in iOS and Safari.
 */
button,
[type=button],
[type=reset],
[type=submit] {
  -webkit-appearance: button;
}

button,
[type=button],
[type=reset],
[type=submit] {
  /**
   * Remove the inner border and padding in Firefox.
   */
  /**
   * Restore the focus styles unset by the previous rule.
   */
}
button::-moz-focus-inner,
[type=button]::-moz-focus-inner,
[type=reset]::-moz-focus-inner,
[type=submit]::-moz-focus-inner {
  border-style: none;
  padding: 0;
}
button:-moz-focusring,
[type=button]:-moz-focusring,
[type=reset]:-moz-focusring,
[type=submit]:-moz-focusring {
  outline: 1px dotted ButtonText;
}

/**
 * Show the overflow in Edge.
 */
input {
  overflow: visible;
}

/**
 * 1. Add the correct box sizing in IE 10.
 * 2. Remove the padding in IE 10.
 */
[type=checkbox],
[type=radio] {
  box-sizing: border-box; /* 1 */
  padding: 0; /* 2 */
}

/**
 * Correct the cursor style of increment and decrement buttons in Chrome.
 */
[type=number]::-webkit-inner-spin-button,
[type=number]::-webkit-outer-spin-button {
  height: auto;
}

/**
 * 1. Correct the odd appearance in Chrome and Safari.
 * 2. Correct the outline style in Safari.
 */
[type=search] {
  -webkit-appearance: textfield; /* 1 */
  outline-offset: -2px; /* 2 */
  /**
   * Remove the inner padding in Chrome and Safari on macOS.
   */
}
[type=search]::-webkit-search-decoration {
  -webkit-appearance: none;
}

/**
 * 1. Correct the inability to style clickable types in iOS and Safari.
 * 2. Change font properties to `inherit` in Safari.
 */
::-webkit-file-upload-button {
  -webkit-appearance: button; /* 1 */
  font: inherit; /* 2 */
}

/**
 * Correct the padding in Firefox.
 */
fieldset {
  padding: 0.35em 0.75em 0.625em;
}

/**
 * 1. Correct the text wrapping in Edge and IE.
 * 2. Correct the color inheritance from `fieldset` elements in IE.
 * 3. Remove the padding so developers are not caught out when they zero out
 *    `fieldset` elements in all browsers.
 */
legend {
  box-sizing: border-box; /* 1 */
  display: table; /* 1 */
  max-width: 100%; /* 1 */
  padding: 0; /* 3 */
  color: inherit; /* 2 */
  white-space: normal; /* 1 */
}

/**
 * Add the correct vertical alignment in Chrome, Firefox, and Opera.
 */
progress {
  vertical-align: baseline;
}

/**
 * Remove the default vertical scrollbar in IE 10+.
 */
textarea {
  overflow: auto;
}

/* Interactive
   ========================================================================== */
/*
 * Add the correct display in Edge, IE 10+, and Firefox.
 */
details {
  display: block;
}

/*
 * Add the correct display in all browsers.
 */
summary {
  display: list-item;
}

/* Misc
   ========================================================================== */
/**
 * Add the correct display in IE.
 */
template {
  display: none;
}

/**
 * Add the correct display in IE 10.
 */
[hidden] {
  display: none;
}

.pagination__button, .donation__description, .contacts__info, .footer__title, .contacts__title, h4, h3, h2, h1 {
  font-family: Georgia, "Times New Roman", Times, serif;
}

.pagination__next,
.pagination__last, .navigation__link_dark, .slider__btn, .slider__card:hover, .contacts__info, .navigation__link, .button {
  transition: all 0.3s;
}

.donation__right-content, .help__item, .help__wrapper, .slider__card, .our-friends__wrapper, .location, .contacts, .logo {
  display: flex;
  flex-direction: column;
}

@font-face {
  font-family: "Georgia";
  src: url("../../assets/fonts/Georgia.woff") format("woff"), url("../../assets/fonts/Georgia.woff2") format("woff2");
  font-weight: 400;
  font-style: normal;
}
@font-face {
  font-family: "Georgia Bold";
  src: url("../../assets/fonts/Georgia-Bold.woff") format("woff"), url("../../assets/fonts/Georgia-Bold.woff2") format("woff2");
  font-weight: 700;
  font-style: normal;
}
@font-face {
  font-family: "Arial";
  src: url("../../assets/fonts/ArialMT.woff") format("woff"), url("../../assets/fonts/ArialMT.woff2") format("woff2");
  font-weight: 400;
  font-style: normal;
}
@font-face {
  font-family: "Arial Italic";
  src: url("../../assets/fonts/Arial-ItalicMT.woff") format("woff"), url("../../assets/fonts/Arial-ItalicMT.woff2") format("woff2");
  font-weight: 400;
  font-style: italic;
}
* {
  box-sizing: border-box;
}

li {
  list-style: none;
}

a, a:link, a:visited, a:hover {
  text-decoration: none;
}

p {
  margin: 0;
}

html {
  font-size: 10px;
  scroll-behavior: smooth;
}

body {
  font-size: 1.5rem;
  font-family: "Arial", Verdana, sans-serif;
}

h1 {
  color: #F1CDB3;
  font-size: 3.2rem;
  line-height: 110%;
  font-weight: 400;
  font-style: normal;
  text-decoration: none;
  cursor: pointer;
  letter-spacing: 0.06em;
  margin: 0 0 10px 0;
}

.logo__description {
  cursor: pointer;
  color: #FFFFFF;
  font-size: 1.3rem;
  line-height: 15px;
  font-weight: 400;
  font-style: normal;
  letter-spacing: 0.1em;
}

h2 {
  margin: 0;
  color: #FFFFFF;
  font-size: 4.4rem;
  line-height: 130%;
  font-weight: 400;
  font-style: normal;
}
@media (max-width: 685px) {
  h2 {
    font-size: 2.5rem;
    text-align: center;
    letter-spacing: 0.06em;
  }
}

h3 {
  margin: 0;
  color: #545454;
  letter-spacing: 0.06em;
  font-size: 3.5rem;
  line-height: 130%;
  font-weight: 400;
  font-style: normal;
}

h4 {
  margin: 0;
  color: #545454;
  font-size: 2rem;
  line-height: 2.3rem;
  font-weight: 400;
  font-style: normal;
  letter-spacing: 1.2px;
}

.button {
  font-family: "Georgia", Times, serif;
  padding: 15px 45px;
  font-style: normal;
  font-weight: 400;
  font-size: 1.7rem;
  line-height: 130%;
  letter-spacing: 0.06em;
  border-radius: 100px;
  cursor: pointer;
}
.button_bordered {
  background: #FAFAFA;
  border: 2px solid #F1CDB3;
  padding: 13px 44px;
}
.button_bordered:hover {
  background: #FDDCC4;
  border: 2px solid #FDDCC4;
}
.button_colored {
  border: 0;
  background-color: #F1CDB3;
}
.button_colored:hover {
  background-color: #FDDCC4;
}

.wrapper {
  max-width: 1280px;
  padding: 0 40px;
  margin: 0 auto;
}
@media (max-width: 990px) {
  .wrapper {
    padding: 0 30px;
  }
}
@media (max-width: 685px) {
  .wrapper {
    padding: 0 10px;
  }
}

.header {
  position: absolute;
  width: 100%;
  left: 0;
  top: 0;
}

.header__wrapper {
  display: flex;
  justify-content: space-between;
  margin-top: 30px;
  align-items: center;
}
@media (max-width: 685px) {
  .header__wrapper {
    padding: 0 20px;
  }
}

.navigation {
  display: flex;
  gap: 35px;
  line-height: 160%;
}
@media (max-width: 740px) {
  .navigation {
    gap: 18px;
    font-size: 13px;
  }
}
@media (max-width: 685px) {
  .navigation {
    display: none;
  }
}

.navigation__item {
  display: flex;
}

.navigation__link {
  color: #CDCDCD;
}
.navigation__link:hover {
  color: #FAFAFA;
}

.navigation__link_active {
  color: #FAFAFA;
  cursor: default;
  border-bottom: 3px solid #F1CDB3;
}

.footer {
  background: url("../assets/img/noise_transparent@2x.png"), radial-gradient(237.5% 111.8% at 0% 0%, rgb(91, 72, 58) 0%, rgb(38, 36, 37) 100%);
  background-repeat: repeat;
}

.footer__wrapper {
  display: flex;
  gap: 134px;
}

.contacts {
  gap: 40px;
}

.contacts__title {
  color: #FFFFFF;
  font-size: 3.5rem;
  line-height: 130%;
  font-weight: 400;
  font-style: normal;
  letter-spacing: 0.06em;
}

.footer__title {
  color: #FFFFFF;
  font-size: 3.5rem;
  line-height: 130%;
  font-weight: 400;
  font-style: normal;
  letter-spacing: 0.06em;
  padding-top: 56px;
}

.footer-image {
  padding-top: 40px;
}

.contacts__info {
  display: flex;
  -moz-column-gap: 20px;
       column-gap: 20px;
  align-items: center;
  font-size: 2rem;
  line-height: 115%;
  font-weight: 400;
  font-style: normal;
  color: #F1CDB3;
  letter-spacing: 0.06em;
}
.contacts__info:hover {
  color: #FDDCC4;
}

.contacts__info svg {
  flex: 0 0 auto;
}

.location {
  gap: 34px;
}

.not-only {
  background: url("../assets/img/noise_transparent@2x.png"), radial-gradient(100% 215.42% at 0% 0%, #5b483a 0%, #262425 100%), #211f20 center repeat;
  padding-top: 180px;
}
@media (max-width: 990px) {
  .not-only {
    padding-top: 130px;
  }
}

.not-only__wrapper {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
@media (max-width: 990px) {
  .not-only__wrapper {
    flex-direction: column;
  }
}

.not-only__content {
  padding-top: 20px;
  padding-bottom: 100px;
}
@media (max-width: 990px) {
  .not-only__content {
    display: flex;
    flex-direction: column;
  }
}

.not-only__text {
  max-width: 460px;
  color: #CDCDCD;
  font-size: 1.5rem;
  line-height: 160%;
  font-weight: 400;
  font-style: normal;
  margin: 42px 0;
}
@media (max-width: 685px) {
  .not-only__text {
    text-align: center;
  }
}

.not-only__content a {
  color: #292929;
}

.make-friends {
  display: inline-block;
}
@media (max-width: 990px) {
  .make-friends {
    align-self: center;
  }
}

.not-only__image {
  display: flex;
  justify-content: flex-end;
}

@media (max-width: 990px) {
  .not-only__image img {
    width: 80%;
  }
}
@media (max-width: 685px) {
  .not-only__image img {
    width: 90%;
  }
}

.about__wrapper {
  display: flex;
  align-items: center;
  gap: 120px;
}

.about__image {
  margin: 80px 0 100px 175px;
}

.about__content {
  max-width: 430px;
  padding-bottom: 22px;
}

.about__title {
  max-width: 370px;
}

.about__text {
  margin: 25px 0;
  color: #4C4C4C;
  max-width: 430px;
  font-size: 1.5rem;
  line-height: 160%;
  font-weight: 400;
  font-style: normal;
}
.about__text:last-child {
  margin: 0;
}

.our-friends {
  background-color: #F6F6F6;
}

.our-friends__wrapper {
  align-items: center;
  gap: 60px;
  padding: 80px 0 100px 0;
}

.our-friends__title {
  text-align: center;
}

.our-friends__button a {
  color: #292929;
}

.slider__container {
  display: flex;
  align-items: center;
  gap: 53px;
}

.slider__inner {
  display: flex;
  gap: 90px;
}

.slider__card {
  gap: 30px;
  align-items: center;
  background-color: #FAFAFA;
  padding-bottom: 30px;
  border-radius: 9px;
}

.slider__card:hover {
  box-shadow: 0 2px 25px 10px rgba(37, 39, 39, 0.03);
}

.slider__card:hover .learn-more {
  background: #FDDCC4;
  border: 2px solid #FDDCC4;
}

.slider__btn {
  cursor: pointer;
  display: flex;
  height: 52px;
  width: 52px;
  border: solid 2px #F1CDB3;
  border-radius: 50%;
  align-items: center;
  justify-content: center;
}
.slider__btn:hover {
  background-color: #F1CDB3;
}

.help {
  background-color: #FFFFFF;
  padding: 80px 0 100px 0;
}

.help__wrapper {
  gap: 55px;
  align-items: center;
}

.help__title {
  text-align: center;
}

.help__content {
  display: flex;
  -moz-column-gap: 120px;
       column-gap: 120px;
  row-gap: 53px;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
}

.help__item {
  gap: 30px;
  align-items: center;
}

.donation {
  background-color: #F6F6F6;
}

.donation__wrapper {
  display: flex;
  gap: 30px;
}

.donation__image {
  margin: 91px 0 110px 143px;
}

.donation__right-content {
  align-items: flex-start;
}

.donation__title {
  max-width: 300px;
  margin-top: 80px;
}

.donation__description {
  color: #545454;
  margin: 20px 0;
  font-size: 1.5rem;
  line-height: 110%;
  font-weight: 400;
  font-style: normal;
  letter-spacing: 0.06em;
}

.donation__right-content .button {
  display: flex;
  gap: 15px;
  border-radius: 9px;
  border: 0;
  padding: 10px 17px 10px 15px;
  margin-bottom: 20px;
}

.number-card {
  color: #545454;
  font-size: 2rem;
  line-height: 115%;
  font-weight: 400;
  font-style: normal;
}

.donation-info {
  color: #B2B2B2;
  max-width: 380px;
  font-size: 1.2rem;
  line-height: 150%;
  font-weight: 400;
  font-style: italic;
}

.burger-btn {
  cursor: pointer;
  position: relative;
  display: none;
  width: 30px;
  height: 22px;
  border-top: 2px solid #F1CDB3;
  border-bottom: 2px solid #F1CDB3;
}
@media (max-width: 685px) {
  .burger-btn {
    display: block;
  }
}

.burger-btn::after {
  content: "";
  position: absolute;
  top: 8px;
  width: 30px;
  height: 2px;
  background-color: #F1CDB3;
}

.header-pets {
  margin-bottom: 30px;
}

.logo__title_dark {
  color: #545454;
}

.logo__description_dark {
  cursor: pointer;
  color: #292929;
  font-size: 1.3rem;
  line-height: 15px;
  font-weight: 400;
  font-style: normal;
  letter-spacing: 0.1em;
}

.navigation__link_dark {
  color: #545454;
}
.navigation__link_dark:hover {
  color: #292929;
}

.navigation__link_active_dark {
  color: #292929;
  cursor: default;
  border-bottom: 3px solid #F1CDB3;
}

.our-friends__list {
  display: flex;
  flex-wrap: wrap;
  -moz-column-gap: 40px;
       column-gap: 40px;
  row-gap: 30px;
}

.pagination {
  display: flex;
  gap: 20px;
}

.pagination__button {
  width: 52px;
  height: 52px;
  border-radius: 50%;
  cursor: pointer;
  font-size: 2rem;
  line-height: 115%;
  font-weight: 400;
  font-style: normal;
}

.pagination__first,
.pagination__prev {
  border: 2px solid #CDCDCD;
  background-color: transparent;
  color: #CDCDCD;
  cursor: default;
}

.pagination__curr {
  background-color: #F1CDB3;
  border: 0;
  color: #292929;
  cursor: default;
}

.pagination__next,
.pagination__last {
  border: 2px solid #F1CDB3;
  background-color: transparent;
  color: #292929;
}
.pagination__next:hover,
.pagination__last:hover {
  background-color: #FDDCC4;
  border: 2px solid #FDDCC4;
}/*# sourceMappingURL=main.css.map */