.header-pets {
  margin-bottom: 30px;
}

.logo__title_dark {
  color: $color-dark-l;
}

.logo__description_dark {
  cursor: pointer;
  color: $color-dark-3xl;
  @include font(1.3rem, 15px);
  letter-spacing: 0.1em;
}

.header__mobile-menu.open .navigation_light {
  background-color: $color-light-s;
}

.navigation__link_dark {
  color: $color-dark-l;
  @extend %transition;

  &:hover {
    color: $color-dark-3xl;
  }
}

.navigation__link_active_dark {
  color: $color-dark-3xl;
  cursor: default;
  border-bottom: 3px solid $color-primary;
}

.our-friends__wrapper_pets {
  @include media-mini-laptop {
    gap: 30px;
    padding: 80px 30px 75px 30px;
  }

  @include media-big-mobile {
    padding: 45px 10px;
    gap: 40px;
  }
}

.our-friends__list {
  display: flex;
  flex-wrap: wrap;
  column-gap: 40px;
  row-gap: 30px;
  justify-content: center;
}

.slider__card_pets:nth-child(7) {
  @include media-mini-laptop {
    display: none;
  }
}

.slider__card_pets:nth-child(4),
.slider__card_pets:nth-child(5),
.slider__card_pets:nth-child(6) {
  @include media-big-mobile {
    display: none;
  }
}

.pagination {
  display: flex;
  gap: 20px;

  @include media-mini-laptop {
    margin-top: 10px;
  }

  @include media-big-mobile {
    width: 300px;
    justify-content: space-between;
    gap: 0;
    margin-top: 0;
  }
}

.pagination__button {
  width: 52px;
  height: 52px;
  border-radius: 50%;
  cursor: pointer;
  @extend %font-add;
  @include font(2rem, 115%);
}

.pagination__first,
.pagination__prev {
  border: 2px solid $color-dark-s;
  background-color: transparent;
  color: $color-dark-s;
  cursor: default;
}

.pagination__curr {
  background-color: $color-primary;
  border: 0;
  color: $color-dark-3xl;
  cursor: default;
}

.pagination__next,
.pagination__last {
  border: 2px solid $color-primary;
  background-color: transparent;
  color: $color-dark-3xl;
  @extend %transition;

  &:hover {
    background-color: $color-primary-light;
    border: 2px solid $color-primary-light;
  }
}
